@use "../../../GlobalStyles/index" as *;
@use "../../../Utils/mixins" as *;
@use "../../../Utils/variables" as *;

.memorial {
  &-title{
    text-align: center;
    margin-top: 90px;
    color: $app-color-3;
    font-weight: bold;
  }

  &-handiwork{
    padding: 0 50px;
    margin-top: 50px;
    &__title{
      text-align: center;
      position: relative;
      &-text{
        font-size: 21px;
        margin-bottom: 0;
        font-weight: bold;
        color: $app-color-5;
      }
      &-more{
        position: absolute;
        right: 15%;
        top: 50%;
        transform: translateY(-50%);
        margin-bottom: 0;
        color: $app-color-3;
        font-weight: bold;
        cursor: pointer;
      }
    }

    &__list{
      margin-top: 30px;
    }

    &__card{
      position: relative;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &-img-item{
        width: 233px;
        height: 326px;
        object-fit: cover;
        cursor: pointer;
      }

      &-img{
        position: relative;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
      }

      &-img:hover ~ &-title{
        opacity: 1;
      }

      &-overlay:hover{
        opacity: 1;
      }

      &-overlay{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: all linear 0.5s;
      }

      &-title{
        position: absolute;
        bottom: 10%;
        color: #ffffff;
        width: 233px;
        margin-bottom: 0;
        transition: all linear 0.5s;
        opacity: 0;
      }
    }
  }

  &-handiwork{
    padding: 0 80px;
  }
}