@use "../../../GlobalStyles/index" as *;
@use "../../../Utils/mixins" as *;
@use "../../../Utils/variables" as *;

.memorial-solemn-visit{
  margin-top: $app-page-title-margin-top;
}

.solemn-visit{
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 1px 1px 10px $app-color-12;
  &__title{
    padding: 10px;
    background-color: $app-color-16;
    color: $app-color-14;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__content{
    background-color: $app-color-13;

    &--inner {
      background-color: $app-color-17;
    }
  }
}