@use "../../GlobalStyles/index" as *;
@use "../../Utils/mixins" as *;
@use "../../Utils/variables" as *;

.react-dot-paginate {
  display: flex;
  justify-content: center;
  background-color: $app-color-9;
  height: 50px;

  .dot {
    width: 10px;
    height: 10px;
    margin: 10px 5px;
    border-radius: 50%;
    background-color: $app-color-5;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &.dotActive {
      background-color: $app-color-3;
    }
  }
}