$navbar-height: 189px;
$header-top-height: 83px;
$header-bottom-height: 106px;
$footer-height: 80px;
$app-page-title-height: 93px;
$app-page-title-margin-top: 30px;
$app-text-color-1: rgb(98, 98, 98);
$app-color-1: rgb(127, 37, 28);
$app-color-2: rgb(255, 229, 178);
$app-color-3: rgb(195, 66, 63);
$app-color-4: rgb(245, 207, 157);
$app-color-5: rgb(14, 14, 13);
$app-color-6: rgba(243, 234, 216);
$app-color-7: rgb(199, 199, 199);
$app-color-8: rgb(241, 179, 28);
$app-color-9: rgb(254, 238, 211);
$app-color-10: rgb(127, 37, 28);
$app-color-11: rgb(98, 98, 98);
$app-color-12: rgba(0, 0, 0, 0.1);
$app-color-13: white ;
$app-color-14: rgb(173, 30, 50);
$app-color-TD-15: rgb(254, 246, 231);
$app-color-16: rgb(247, 247, 247);
$app-color-17: rgb(255, 248, 220);
$app-background: url("../../assets/img/general/app-background.jpg") no-repeat center center fixed;

// img
$bg-tac-pham: '../../../assets/img/ctich_tdt/tac-pham-1.png';