@use "../../GlobalStyles/index" as *;
@use "../../Utils/mixins" as *;
@use "../../Utils/variables" as *;

.memorialtomb {
    margin-top: $app-page-title-margin-top;

    &-title {
        height: $app-page-title-height;
        background-color: $app-color-3;
        display: flex;
        align-items: center;
        justify-content: center;

        &__text {
            font-weight: bold;
            color: $app-color-8;
            margin-bottom: 0;
        }
    }

    &-content {
        display: flex;
        flex-wrap: wrap;
        padding: 0 60px;
        margin-top: 50px;

        p {
            font-size: 21px;
        }
        &__img {
            display: flex;
            flex-direction: column; 
            align-items: center; 
            justify-content: center;
            width: 100%;
    
            img {
                max-width: 100%;
                height: auto;
            }
            p {
                font-weight: bold;
                font-size: 18px;
                text-align: center;
                margin-top: 10px; 
            }
        }
    }
    
}