@use "../../GlobalStyles/index" as *;
@use "../../Utils/mixins" as *;
@use "../../Utils/variables" as *;

.memorial-exhibition{

  &__content{
    &--inner{
      padding: 30px;
      background-color: #ffffff;
      box-shadow: 1px 1px 10px $app-color-12;
    }
  }

  &__main{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }

  &__img{
    width: 100%;
    height: 650px;
    position: relative;

    img {
      object-fit: cover;
    }
  }

  &__img:hover &__overlay{
    opacity: 1;
  }

  &__overlay{
    opacity: 0;
    position: absolute;
    height: 25%;
    width: 100%;
    padding: 15px;
    bottom: 0;
    z-index: 1;
    background-color: rgba($color: $app-color-12, $alpha: 0.3);
    transition: linear 0.3s;
    p{
      color: $app-color-13;
      margin-bottom: 0;
    }
  }
}