USE [MemorialArea]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/23/2025 10:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[accountId] [uniqueidentifier] NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[hide] [bit] NULL,
	[passwordResetToken] [varchar](max) NULL,
	[tokenExpiration] [varchar](max) NULL,
	[role_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[accountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 3/23/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[blogId] [uniqueidentifier] NOT NULL,
	[blogImage] [varchar](max) NULL,
	[blogTitle] [nvarchar](255) NULL,
	[blogContent] [nvarchar](max) NULL,
	[createDate] [datetime] NULL,
	[userId] [uniqueidentifier] NULL,
	[isDeleted] [bit] NULL,
	[mediaTypeId] [int] NULL,
	[Description] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[blogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 3/23/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[bookId] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](255) NULL,
	[image] [varchar](max) NULL,
	[createDate] [datetime] NULL,
	[userId] [uniqueidentifier] NULL,
	[bookContent] [nvarchar](max) NULL,
	[publisher] [nvarchar](100) NULL,
	[author] [nvarchar](100) NULL,
	[yearPublic] [varchar](20) NULL,
	[isDeleted] [bit] NULL,
	[mediaTypeId] [int] NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[bookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogBlog]    Script Date: 3/23/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogBlog](
	[blogId] [uniqueidentifier] NULL,
	[blogImage] [varchar](max) NULL,
	[blogTitle] [nvarchar](255) NULL,
	[blogContent] [nvarchar](max) NULL,
	[createDate] [datetime] NULL,
	[userId] [uniqueidentifier] NULL,
	[logBlogId] [int] IDENTITY(1,1) NOT NULL,
	[updateDate] [datetime] NULL,
	[process] [varchar](max) NULL,
	[flag] [varchar](1) NULL,
	[mediaTypeId] [int] NULL,
	[Description] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[logBlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogBook]    Script Date: 3/23/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogBook](
	[bookId] [uniqueidentifier] NULL,
	[title] [nvarchar](255) NULL,
	[image] [varchar](max) NULL,
	[createDate] [datetime] NULL,
	[userId] [uniqueidentifier] NULL,
	[bookContent] [nvarchar](max) NULL,
	[publisher] [nvarchar](50) NULL,
	[author] [nvarchar](50) NULL,
	[yearPublic] [varchar](20) NULL,
	[logBookId] [int] IDENTITY(1,1) NOT NULL,
	[updateDate] [datetime] NULL,
	[process] [varchar](max) NULL,
	[flag] [varchar](1) NULL,
	[mediaTypeId] [int] NULL,
	[Description] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[logBookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogMagazine]    Script Date: 3/23/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogMagazine](
	[magazineId] [uniqueidentifier] NULL,
	[title] [nvarchar](255) NULL,
	[image] [varchar](max) NULL,
	[createDate] [datetime] NULL,
	[userId] [uniqueidentifier] NULL,
	[magazineContent] [nvarchar](max) NULL,
	[logMagazineId] [int] IDENTITY(1,1) NOT NULL,
	[updateDate] [datetime] NULL,
	[process] [varchar](max) NULL,
	[flag] [varchar](1) NULL,
	[mediaTypeId] [int] NULL,
	[Description] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[logMagazineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogMusic]    Script Date: 3/23/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogMusic](
	[musicId] [uniqueidentifier] NULL,
	[title] [nvarchar](255) NULL,
	[author] [nvarchar](50) NULL,
	[createDate] [datetime] NULL,
	[userId] [uniqueidentifier] NULL,
	[imageLink] [varchar](max) NULL,
	[audioLink] [varchar](max) NULL,
	[logMusicId] [int] IDENTITY(1,1) NOT NULL,
	[updateDate] [datetime] NULL,
	[process] [varchar](max) NULL,
	[flag] [varchar](1) NULL,
	[mediaTypeId] [int] NULL,
	[Description] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[logMusicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogSlideShow]    Script Date: 3/23/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogSlideShow](
	[slideShowId] [uniqueidentifier] NULL,
	[title] [nvarchar](255) NULL,
	[image] [varchar](max) NULL,
	[createDate] [datetime] NULL,
	[userId] [uniqueidentifier] NULL,
	[slideImage] [nvarchar](max) NULL,
	[logSlideShowId] [int] IDENTITY(1,1) NOT NULL,
	[updateDate] [datetime] NULL,
	[process] [varchar](max) NULL,
	[flag] [varchar](1) NULL,
	[mediaTypeId] [int] NULL,
	[Description] [nvarchar](1000) NULL,
	[slideShowTypeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[logSlideShowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogSolemnVisit]    Script Date: 3/23/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogSolemnVisit](
	[visitId] [uniqueidentifier] NULL,
	[name] [nvarchar](50) NULL,
	[portraitImage] [varchar](max) NULL,
	[letterImage] [varchar](max) NULL,
	[createDate] [datetime] NULL,
	[userId] [uniqueidentifier] NULL,
	[logSolemnId] [int] IDENTITY(1,1) NOT NULL,
	[updateDate] [datetime] NULL,
	[process] [varchar](max) NULL,
	[flag] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[logSolemnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogTopic]    Script Date: 3/23/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogTopic](
	[topicId] [uniqueidentifier] NULL,
	[capture] [varchar](max) NULL,
	[createDate] [datetime] NULL,
	[userId] [uniqueidentifier] NULL,
	[images] [nvarchar](max) NULL,
	[videos] [nvarchar](max) NULL,
	[logTopicId] [int] IDENTITY(1,1) NOT NULL,
	[updateDate] [datetime] NULL,
	[process] [varchar](max) NULL,
	[flag] [varchar](1) NULL,
	[mediaTypeId] [int] NULL,
	[Description] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[logTopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogVideo]    Script Date: 3/23/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogVideo](
	[videoId] [uniqueidentifier] NULL,
	[title] [nvarchar](255) NULL,
	[createDate] [datetime] NULL,
	[userId] [uniqueidentifier] NULL,
	[imageLink] [varchar](max) NULL,
	[videoLink] [varchar](max) NULL,
	[logVideoId] [int] IDENTITY(1,1) NOT NULL,
	[updateDate] [datetime] NULL,
	[process] [varchar](max) NULL,
	[flag] [varchar](1) NULL,
	[mediaTypeId] [int] NULL,
	[Description] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[logVideoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Magazine]    Script Date: 3/23/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Magazine](
	[magazineId] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](255) NULL,
	[image] [varchar](max) NULL,
	[createDate] [datetime] NULL,
	[userId] [uniqueidentifier] NULL,
	[magazineContent] [nvarchar](max) NULL,
	[isDeleted] [bit] NULL,
	[mediaTypeId] [int] NULL,
	[Description] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[magazineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MediaType]    Script Date: 3/23/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaType](
	[mediaTypeId] [int] NOT NULL,
	[typeName] [nvarchar](50) NULL,
	[typeDescription] [nvarchar](1000) NULL,
 CONSTRAINT [PK_MediaType] PRIMARY KEY CLUSTERED 
(
	[mediaTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Music]    Script Date: 3/23/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Music](
	[musicId] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](255) NULL,
	[author] [nvarchar](50) NULL,
	[createDate] [datetime] NULL,
	[userId] [uniqueidentifier] NULL,
	[imageLink] [varchar](max) NULL,
	[audioLink] [varchar](max) NULL,
	[isDeleted] [bit] NULL,
	[mediaTypeId] [int] NULL,
	[Description] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[musicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/23/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] NOT NULL,
	[role_name] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SlideShow]    Script Date: 3/23/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SlideShow](
	[slideShowId] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](255) NULL,
	[image] [varchar](max) NULL,
	[createDate] [datetime] NULL,
	[userId] [uniqueidentifier] NULL,
	[slideImage] [nvarchar](max) NULL,
	[isDeleted] [bit] NULL,
	[mediaTypeId] [int] NULL,
	[Description] [nvarchar](1000) NULL,
	[slideShowTypeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[slideShowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SlideShowType]    Script Date: 3/23/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SlideShowType](
	[slideShowTypeId] [int] NOT NULL,
	[typeName] [nvarchar](50) NULL,
	[typeDescription] [nvarchar](1000) NULL,
 CONSTRAINT [PK_SlideShowType] PRIMARY KEY CLUSTERED 
(
	[slideShowTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolemnVisit]    Script Date: 3/23/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolemnVisit](
	[visitId] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](100) NULL,
	[portraitImage] [varchar](max) NULL,
	[letterImage] [varchar](max) NULL,
	[createDate] [datetime] NULL,
	[userId] [uniqueidentifier] NULL,
	[isDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[visitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 3/23/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[topicId] [uniqueidentifier] NOT NULL,
	[capture] [nvarchar](max) NULL,
	[createDate] [datetime] NULL,
	[isDeleted] [bit] NULL,
	[images] [nvarchar](max) NULL,
	[videos] [nvarchar](max) NULL,
	[userId] [uniqueidentifier] NULL,
	[mediaTypeId] [int] NULL,
	[Description] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[topicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/23/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](30) NULL,
	[email] [varchar](40) NULL,
	[accountId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Video]    Script Date: 3/23/2025 10:34:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Video](
	[videoId] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](255) NULL,
	[createDate] [datetime] NULL,
	[userId] [uniqueidentifier] NULL,
	[imageLink] [varchar](max) NULL,
	[videoLink] [varchar](max) NULL,
	[isDeleted] [bit] NULL,
	[mediaTypeId] [int] NULL,
	[Description] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[videoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Account] ([accountId], [username], [password], [hide], [passwordResetToken], [tokenExpiration], [role_id]) VALUES (N'450134b6-1b7f-4987-83b8-67d247ec52ef', N'marrymarry', N'marry456789', 0, NULL, NULL, 2)
INSERT [dbo].[Account] ([accountId], [username], [password], [hide], [passwordResetToken], [tokenExpiration], [role_id]) VALUES (N'8a11cdc9-b8f2-49ad-bda2-abc3f566213e', N'bobdann', N'bobdan753159', 0, NULL, NULL, 2)
INSERT [dbo].[Account] ([accountId], [username], [password], [hide], [passwordResetToken], [tokenExpiration], [role_id]) VALUES (N'964d296d-09e0-4879-882d-b2fdef0a7b56', N'jakejohn', N'jake123456', 0, NULL, NULL, 1)
GO
INSERT [dbo].[Blog] ([blogId], [blogImage], [blogTitle], [blogContent], [createDate], [userId], [isDeleted], [mediaTypeId], [Description]) VALUES (N'a05f5b61-43c5-455f-8c14-5841bdd61588', N'https://res.cloudinary.com/dydpf7z8u/image/upload/v1737914574/Blog_e098054d-bbe1-4c68-8576-58a5255abf01.jpg', N'Blog1', N'Blog1', CAST(N'2025-01-14T03:04:50.827' AS DateTime), N'203ce6cd-b6eb-4045-a4c4-9cd574f2ea2f', 0, NULL, NULL)
GO
INSERT [dbo].[Magazine] ([magazineId], [title], [image], [createDate], [userId], [magazineContent], [isDeleted], [mediaTypeId], [Description]) VALUES (N'd0c16d5c-5574-4449-a410-5472ca6f1340', N'Magazine1', N'https://res.cloudinary.com/dydpf7z8u/image/upload/v1736512914/nhasan_5_s2yhyu.jpg', CAST(N'2025-01-12T13:00:00.000' AS DateTime), N'203ce6cd-b6eb-4045-a4c4-9cd574f2ea2f', N'https://res.cloudinary.com/dydpf7z8u/image/upload/v1736512588/BacHoBacTonvaCacAnh.pdf', 0, NULL, NULL)
INSERT [dbo].[Magazine] ([magazineId], [title], [image], [createDate], [userId], [magazineContent], [isDeleted], [mediaTypeId], [Description]) VALUES (N'afe00928-977a-4bcc-8dcc-6236dd223783', N'Magazine2', N'https://res.cloudinary.com/dydpf7z8u/image/upload/v1736512868/gioi-thieu-kln_eokgdn.jpg', CAST(N'2025-01-13T13:00:00.000' AS DateTime), N'c11546db-1ae9-46c3-8f86-3c606c6d67cd', N'https://res.cloudinary.com/dydpf7z8u/image/upload/v1736512588/BacHoBacTonvaCacAnh.pdf', 0, NULL, NULL)
GO
INSERT [dbo].[MediaType] ([mediaTypeId], [typeName], [typeDescription]) VALUES (1, N'Khu lưu niệm bác Tôn', NULL)
INSERT [dbo].[MediaType] ([mediaTypeId], [typeName], [typeDescription]) VALUES (2, N'Chủ tịch Tôn Đức Thắng', NULL)
INSERT [dbo].[MediaType] ([mediaTypeId], [typeName], [typeDescription]) VALUES (3, N'Công trình mang tên bác Tôn', NULL)
GO
INSERT [dbo].[Music] ([musicId], [title], [author], [createDate], [userId], [imageLink], [audioLink], [isDeleted], [mediaTypeId], [Description]) VALUES (N'97a46d22-98e3-45b0-b2b9-217ac45b1ec8', N'Music1', N'Author One', CAST(N'2025-01-12T15:00:00.000' AS DateTime), N'203ce6cd-b6eb-4045-a4c4-9cd574f2ea2f', N'https://res.cloudinary.com/dydpf7z8u/image/upload/v1736512956/ag2-860x520_hz77hl.jpg', N'https://res.cloudinary.com/dydpf7z8u/video/upload/v1736072269/08_buaeek.mp3', 0, 2, NULL)
INSERT [dbo].[Music] ([musicId], [title], [author], [createDate], [userId], [imageLink], [audioLink], [isDeleted], [mediaTypeId], [Description]) VALUES (N'8025c4ee-838d-406b-b1d6-a21f4a40fddc', N'Music2', N'Author Two', CAST(N'2025-01-13T15:00:00.000' AS DateTime), N'24dcccd9-9174-4c7d-a4e1-1749d71d7dc7', N'https://res.cloudinary.com/dydpf7z8u/image/upload/v1736512980/nha-trung-bay1_y7i7mb.jpg', N'https://res.cloudinary.com/dydpf7z8u/video/upload/v1736072246/06_c6ylkq.mp3', 0, 2, NULL)
GO
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (2, N'User')
GO
INSERT [dbo].[SlideShowType] ([slideShowTypeId], [typeName], [typeDescription]) VALUES (1, N'HIỆN VẬT VÀ HÌNH ẢNH', NULL)
INSERT [dbo].[SlideShowType] ([slideShowTypeId], [typeName], [typeDescription]) VALUES (2, N'NHÀ TRƯNG BÀY THÂN THẾ VÀ SỰ NGHIỆP CÁCH MẠNG', NULL)
INSERT [dbo].[SlideShowType] ([slideShowTypeId], [typeName], [typeDescription]) VALUES (3, N'HÌNH ẢNH NGHỆ THUẬT VỀ CHỦ TỊCH TÔN ĐỨC THĂNG', NULL)
GO
INSERT [dbo].[SolemnVisit] ([visitId], [name], [portraitImage], [letterImage], [createDate], [userId], [isDeleted]) VALUES (N'c9d371fe-54bc-433e-b503-07136b2e66b3', N'Thứ trưởng: LÊ QUỐC DOANH', N'https://res.cloudinary.com/dydpf7z8u/image/upload/v1742615246/KLN/solemnVisit/visitor/ekvmnro6npsrer8rkvb7.jpg', N'https://res.cloudinary.com/dydpf7z8u/image/upload/v1742615690/KLN/solemnVisit/letter/ghelzj2584cesol47ocm.jpg', CAST(N'2025-01-12T10:00:00.000' AS DateTime), N'203ce6cd-b6eb-4045-a4c4-9cd574f2ea2f', 0)
INSERT [dbo].[SolemnVisit] ([visitId], [name], [portraitImage], [letterImage], [createDate], [userId], [isDeleted]) VALUES (N'08f2ff3e-9c1d-4851-8034-0cf89623c6f0', N'Chủ tịch Quốc hội: NGUYỄN THỊ KIM NGÂN', N'https://res.cloudinary.com/dydpf7z8u/image/upload/v1742615245/KLN/solemnVisit/visitor/qqkububgbqtdrgnxdjqd.jpg', N'https://res.cloudinary.com/dydpf7z8u/image/upload/v1742615689/KLN/solemnVisit/letter/bilkslcxf0sg1tlfkec5.jpg', CAST(N'2025-01-12T10:00:00.000' AS DateTime), N'203ce6cd-b6eb-4045-a4c4-9cd574f2ea2f', 0)
INSERT [dbo].[SolemnVisit] ([visitId], [name], [portraitImage], [letterImage], [createDate], [userId], [isDeleted]) VALUES (N'b695caa7-4e37-4aed-8162-14f25f4241b3', N'Chủ tịch nước: TRẦN ĐẠI QUANG', N'https://res.cloudinary.com/dydpf7z8u/image/upload/v1742615245/KLN/solemnVisit/visitor/fng3m70vuu6vkdwimnnj.jpg', N'https://res.cloudinary.com/dydpf7z8u/image/upload/v1742615687/KLN/solemnVisit/letter/bfjnsgolyqv6sahqoho7.jpg', CAST(N'2025-01-13T11:00:00.000' AS DateTime), N'203ce6cd-b6eb-4045-a4c4-9cd574f2ea2f', 0)
GO
INSERT [dbo].[User] ([userId], [name], [email], [accountId]) VALUES (N'24dcccd9-9174-4c7d-a4e1-1749d71d7dc7', N'Bob Dan', N'bobdan@gmail.com', N'8a11cdc9-b8f2-49ad-bda2-abc3f566213e')
INSERT [dbo].[User] ([userId], [name], [email], [accountId]) VALUES (N'c11546db-1ae9-46c3-8f86-3c606c6d67cd', N'Marry Joe', N'marryjoe@gmail.com', N'450134b6-1b7f-4987-83b8-67d247ec52ef')
INSERT [dbo].[User] ([userId], [name], [email], [accountId]) VALUES (N'203ce6cd-b6eb-4045-a4c4-9cd574f2ea2f', N'Jake Johnson', N'jakejohnson@gmail.com', N'964d296d-09e0-4879-882d-b2fdef0a7b56')
GO
INSERT [dbo].[Video] ([videoId], [title], [createDate], [userId], [imageLink], [videoLink], [isDeleted], [mediaTypeId], [Description]) VALUES (N'206a9320-cd9f-4c5c-bd4f-3e9e2ba8600f', N'Video2', CAST(N'2025-01-13T14:00:00.000' AS DateTime), N'c11546db-1ae9-46c3-8f86-3c606c6d67cd', N'https://res.cloudinary.com/dydpf7z8u/image/upload/v1736512961/gg_rabfx7.jpg', N'https://www.youtube.com/embed/ieno0teXxyI?si=HprDQ0erwLfjZWBj', 0, 2, NULL)
INSERT [dbo].[Video] ([videoId], [title], [createDate], [userId], [imageLink], [videoLink], [isDeleted], [mediaTypeId], [Description]) VALUES (N'bbf9fcf3-f27c-46dc-9b33-cc692e046b4b', N'Video1', CAST(N'2025-01-12T14:00:00.000' AS DateTime), N'203ce6cd-b6eb-4045-a4c4-9cd574f2ea2f', N'https://res.cloudinary.com/dydpf7z8u/image/upload/v1736512961/gettyimages-182880589-1493334765_y8yjmg.jpg', N'https://www.youtube.com/embed/C0IKYErgHlw?si=3nyL7542FgCP3XcO', 0, 2, NULL)
GO
