@use "../../GlobalStyles/index" as *;
@use "../../Utils/mixins" as *;
@use "../../Utils/variables" as *;

/*override pagination BS5*/
.page-link{
  color: $app-color-3;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  margin-right: 5px;
  margin-left: 5px!important;
}

.page-link:focus, .page-link:hover{
  box-shadow: none;
  background-color: $app-color-3;
  color: #ffffff;
  /*border: 1px solid var(--bg-item);*/
}

.active .page-link{
  background-color: $app-color-3;
  color: #ffffff;
}

.next-link, .prev-link{
  padding: 10px 15px 10px 15px;
  border: none;
  color: $app-color-3;
}

.next-link:focus, .next-link:hover, .prev-link:focus, .prev-link:hover{
  box-shadow: none;
  color: $app-color-3;
  background-color: transparent;
}

.break-me{
  margin: auto 8px;
}